<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.littlecorgi.commonlib">

    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".camerax.CameraActivity"
            android:screenOrientation="portrait" />/><!-- App Startup的provider -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- This entry makes ExampleLoggerInitializer discoverable. -->
            <!--因为Toasty不支持Android11，所以暂时停用-->
            <!--<meta-data-->
            <!--    android:name="com.littlecorgi.commonlib.ToastyInitializer"-->
            <!--    android:value="androidx.startup" />-->
            <meta-data
                android:name="com.littlecorgi.commonlib.ARouterInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.littlecorgi.commonlib.BuglyInitializer"
                android:value="androidx.startup" />
            <!-- <meta-data -->
            <!-- android:name="com.littlecorgi.commonlib.LeakCanaryInitializer" -->
            <!-- android:value="remove" /> -->
        </provider>

        <!--Bugly-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>